<div style="float: right">
	<form class="form form-inline">
		<input
			class="form-control"
			type="text"
			placeholder="filtr"
			ng-model="ctrl.q"
			ng-change="ctrl.refreshData()"
		/>
	</form>
</div>

<div><br /><br /></div>

<table class="table table-stripped table-hover">
	<tr>
		<td>
			<button class="btn btn-default btn-xs fa fa-plus" ng-click="ctrl.edit(-1)"></button>
		</td>
		<th>Nazwa</th>
		<th>Projekt</th>
		<th>Wykonawca</th>
		<th>Wynagrodzenie (EUR)</th>
		<th>Data rozpoczęcia</th>
		<th>Data zakończenia</th>
		<th>Rozliczony</th>
		<th>Lokalizacja</th>
	</tr>
	<tr ng-repeat="contract in ctrl.contracts" ng-click="ctrl.edit($index)">
		<td></td>
		<td ng-bind="contract.name"></td>
		<td ng-bind="contract.projectName"></td>
		<td ng-bind="contract.executorName"></td>
		<td ng-bind="contract.cost"></td>
		<td ng-bind="ctrl.toISOLocal(contract.start_date)"></td>
		<td ng-bind="ctrl.toISOLocal(contract.finnish_date)"></td>
		<td ng-bind="contract.commited ? 'Tak' : 'Nie'"></td>
		<td ng-bind="contract.location.title ? contract.location.title : 'Brak wybranej lokalizacji'"></td>
	</tr>
</table>
