<div style="float: right">
	<form class="form form-inline">
		<input
			class="form-control"
			type="text"
			placeholder="filtr"
			ng-model="ctrl.q"
			ng-change="ctrl.refreshData()"
		/>
	</form>
</div>

<div><br /><br /></div>

<table class="table table-stripped table-hover">
	<tr>
		<td>
			<button class="btn btn-default btn-xs fa fa-plus" ng-click="ctrl.edit(-1)"></button>
		</td>
		<th>Nazwa</th>
		<th>Długość geograficzna</th>
		<th>Szerokość geograficzna</th>
		<th>Adres</th>
	</tr>
	<tr ng-repeat="location in ctrl.locations" ng-click="ctrl.edit($index)">
		<td></td>
		<td ng-bind="location.name"></td>
		<td ng-bind="location.pos[0]"></td>
		<td ng-bind="location.pos[1]"></td>
		<td ng-bind="location.address"></td>
	</tr>
</table>
